*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body{
    background-color: #ebebeb;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    padding-top: 3px;
}

#logo{
    height: 50px;
    width: 113px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.ab{
    border: 1px solid transparent;
    border-radius: 5%;
}

.ab:hover{
    border: 1px solid white;
    cursor: pointer;
}

#deliverto{
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    width: 75px;
    height: 40px;
    padding: 5px;
}

.icon{
    display: flex;
    align-items: center;
}

#dd{
    position: relative;
    left: 14px;
    font-size: 0.8rem;
    color: #cccccc;
}

#deliverto2{
    width: 70px;
    padding-top: 5px;
}

#dd2{
    margin-left: 3px;
    font-size: small;
}

#searchbar{
    display: flex;
    width: 1050px;
    height: 40px;
    margin-top: 4px;
    border-radius: 5%;
}

#searchbar a{
    text-decoration: none;
}

#searchic{
    background-color: #FBE7C6;
    height: 40px;
    width: 45px;
    color: black;
    border: none;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sear{
    text-align: left;
    text-indent: 10px;
}

.sel select{
    border: 0px solid  transparent;
    border-top-left-radius: 4px;    
    border-bottom-left-radius: 4px;
    color: black;
    height: 40px;
    text-align: center;
    width: 56px;
    background-color: gainsboro;
    font-size: 12px;
}

.sel select:hover{
    border: 0px solid  transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: black;
    height: 40px;
    text-align: center;
    width: 56px;
    background-color: gainsboro;
    font-size: 12px;
}

.sel select:hover{
    background-color: rgb(201, 198, 198);
}

.sel{
    border: 0px solid  transparent;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    height: 40px;
    color: black;
    width: 56px;
    background-color: gainsboro;
}


#sear{
    height: 38px;
    border: none;
    width: 100%;
}

#searchic:hover{
    background-color: orange;
}

#en{
    background-image: url(american_flag.webp);
    background-size: cover;
    width: 20px;
    height: 15px;
}

#box4{
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 10px;
    margin: 2px;
    margin-left: 20px;
    margin-right: 10px;
}

#b4sel{
    width: 33;
    background-color: #0f1111;
    color: white;
    border: none;
}

#sign{
    text-decoration: none;
    color: white;
}

#box5{
    height: 50px;
    margin-right: 10px;
    width: 130px;
}

#b5sel{
    font-size: 13px;
    background-color: #0f1111;
    color: white;
    border: none;
    font-weight: 900;
    padding-left: 7px;
    padding-right: 5px;
    display: flex;
}

#b5sel i{
    padding-top: 2px;
    padding-left: 3px;
}

#b5p{
    font-size: 13px;
    padding-left: 8px;
    margin-top: 10px;
    font-weight: 200;
}

#flyout{
    position: absolute;
    left: 1370px;
    top: 54px;
    background-color: white;
    width: 164.74px;
    height: 86px;
    z-index: 3;
    border: 0.5px solid transparent;
    
    color: black;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
}

#flyout button{
    height: 30px;
    width: 132.74px;
    position: relative;
    left: 16px;
    top: 7px;
    border-radius: 10px;
    border: 0px solid transparent;
    background-color: #ffd051;
    filter: contrast(1);
    cursor: pointer;
}

#flyout button:hover{
        background-color: #fcba03;
}

.fly button{
    height: 35px;
    width: 200px;
    position: relative;
    left: 29%;
    top: 10px;
    border-radius: 10px;
    border: 0px solid transparent;
    background-color: #ffd051;
    filter: contrast(1);
    cursor: pointer;
}

.fly hr{
    position: relative;
    top: 25px;
    opacity: 0.2;
}

#new{
    text-align: center;
}

#left{
    position: relative;
    top: 45px;
    left: 20px;
    line-height: 22px;
}

#box p{
    font-weight: 100;
    font-size: 13px;
}

.rlp{
    font-weight: 900;
}

#right{
    position: relative;
    margin-top: 23px;
    left: 85px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 21px;
    border-left: 0.1px solid #cccccc;
}

#new{
    font-size: 12px;
    position: relative;
    top: 20px;
    color: black;
    left: 8px;
}

#flyout p{
    font-size: 12px;
    position: relative;
    top: 20px;
    color: black;
    left: 8px;
}

#box{
    display: flex;
    height: 300px;
}

.fly{
    display: none;
    position: absolute;
    top: 55px;
    background-color: white;
    z-index: 2;
    left: 1150px;
    width: 450px;
    color: black;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
}

#box6{
    height: 50px;
    margin-right: 10px;
    width: 75px;
}

#b6p2{
    color: white;
    border: none;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 3px;
    font-size: 13px;
}

#box7{
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 5px;
    width: 70px;
    margin-left: 4px;
}

#b7o{
    color: #0f1111;
    font-weight: 900;
    position: absolute;
    font-size: 12px;
    top: 18px;
    right: 73px;
}

#b7p{
        color: white;
        border: none;
        font-weight: 900;
        padding-right: 3px;
        font-size: 12px;
        padding-top: 10px;
}

.navbar2{
    background-color: #232F3E;
    height: 39px;
    display: flex;
}

.navbar2 a{
    text-decoration: none;
}

.cd{
    padding: 10px;
    color: white;
    font-size: 15px;
}

#all{
    margin-left: 10px;
}

#box7 i{
    font-size: 25px;
}

#bi{
    background-image: url(hero_image.jpg);
    background-size: cover;
    position: relative;
    height: 600px;
    width: 1500px;
    left: 100px;
    display: flex;
    text-align: center;
    align-items: center;
}

#bi000{
    color: #007185
}

#bi0{
    background-color: white;
    width: 1460px;
    height: 40px;
    position: relative;
    left: 20px;
}

#bi00{
    position: relative;
    top: 10px;
}

#boxes{
    height: 900px;
    width: 1480px;
    position: absolute;
    left: 107px;
    top: 450px;
    display: flex;
    flex-wrap: wrap;
}

.bii{
    width: 336px;
    height: 420px;
    background-color: white;
    position: relative;
    margin-left: 28px;
}

#bip{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 25px;
    font-weight: 900px;
}

#bi1 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box1_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

#bi2 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box2_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

#bi3 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box3_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

#bi4 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box4_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

#bippp{
    color: blue;
    position: relative;
    left: 20px;
    top: 40px;
    text-decoration: none;
}

#bi5 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box5_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

.bii2{
        width: 336px;
        height: 420px;
        background-color: white;
        position: relative;
        margin-top: 30px;
        margin-left: 28px;
}

#bi6 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box6_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

#bi7 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box7_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

#bi8 #bipp{
    width: 300px;
    height: 300px;
    background-image: url(box8_image.jpg);
    background-size: cover;
    position: relative;
    left: 20px;
    top: 30px;
}

#bippp:hover{
    text-decoration: underline;
    color: orange;

}

#bi000:hover{
    color: orange;
    text-decoration: underline;
}

#footnav1{
    top: 700px;
    height: 49px;
    background-color: #37475a;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#footnav1:hover{
    background-color: #405064;
}

#top{
    color: white;
    font-size: 13px;
    text-decoration: none;
}

#fn2{
    height: 250px;
    width: 100%;
    background-color: #222f3d;
    position: relative;
    top: 700px;
    color: white;
    position: relative;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

ul a{
    display: block;
    margin-top: 10px;
    color: #dddddd;
}

ul p{
    font-weight: 700;
}

#fn3{
    background-color: #222f3d;
    border-top: 0.1px solid #cccccc;
    height: 125px;
    width: 100%;
    position: relative;
    top: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo1{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 113px;
}

#sel2{
    background-color: #222f3d;
    color: #cccccc;
    border-color: transparent;
}

#globe{
    border: 0.5px solid #cccccc;
    padding: 7px 3px 7px 5px;
    margin-left: 80px;
    border-radius: 4px;
}

#globe i{
    color: #cccccc;
}

#dollar{
    display: flex;
    margin-left: 15px;
    color: #cccccc;
    border: 0.5px solid #cccccc;
    padding: 9px 3px 7px 5px;
    font-size: 15px;
    width: 150px;
    border-radius: 4px;
}

#dollar p{
    margin-left: 2px;
}

#US{
    display: flex;
    color: #cccccc;
    margin-left: 10px;
    border: 0.5px solid #cccccc;
    padding: 7px 6px 7px;
    border-radius: 4px;    
}

#US div{
    margin-left: 6px;
}

#fn4{
    background-color: #131A22;
    height: 75px;
    width: 100%;
    position: relative;
    top: 700px;
    text-align: center;
}

#fn4 pre{
    color: #cccccc;
    top: 20px;
    position: relative;
}

.setLocation{
    display:none;
    position: absolute;
    top: 200px;
    height: 380px;
    width: 360px;
    background-color: white;
    z-index: 2;
    left: 40%;
    border: 0.5px solid transparent;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
}

#cl{
    height: 60px;
    border-bottom: 0.5px solid black;
    background-color: #ebeded;
    display: flex;
    padding-left: 18px;
    justify-content: left;
    align-items: center;
    border-radius: 7px 7px 0px 0px;
}

#cl1{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    left: 11px;
}

#cl1 p{
    font-size: 13px;
    color: #a29f9f;
}

#setButton{
    background-color: #ffd051;
    position: relative;
    top: 50px;
    left: 10px;
    width: 95%;
    height: 30px;
    border: transparent;
    border-radius: 6px;
}

#setButton:hover{
    background-color: #fcba03;
}

#or1 p{
    font-size: smaller;
    color: #a29f9f;
    position: absolute;
    top: 183px;
    z-index: 4;
    background-color: white;
    padding: 0px 4px 0px 4px;
}

#or1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#or1 hr{
    position: absolute;
    top: 189px;
    width: 90%;
}

#or2{
    display: flex;
    align-items: center;
    justify-content: center;
}

#or2 hr{
    position: absolute;
    top: 270px;
    width: 90%;
    z-index: 1;
}

#or2 p{
    font-size: smaller;
    color: #a29f9f;
    position: absolute;
    top: 263px;
    z-index: 2;
    background-color: white;
    padding: 0px 4px 0px 4px;
}

#apply input{
    top:100px;
    left: 19px;
    position: relative;
    height: 28px;
    width: 60%;
}

#apply button{
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: 100px;
    left: 20px;
    height: 35px;
    width: 103px;
    border: 1px solid #ebeded;
    border-radius: 6px;
}

.setLocation select{
    position: relative;
    top: 140px;
    left: 20px;
    width: 88%;
    border-radius: 7px;
    height: 30px;
}

#done{
    background-color: #ffd051;
    position: relative;
    top: 160px;
    left: 80%;
    width: 15%;
    height: 30px;
    border: transparent;
    border-radius: 6px;
}

#done:hover{
    background-color: #fcba03;
}

.hidden{
    display: block;
}

.bright{
    opacity: 0.2;
    pointer-events: none;
}

.hide{
    animation: colorAnimate 2s ease-in 1s 1 normal;
}

@keyframes colorAnimate{
    0%/*from*/
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0.5;
    }
    100%/*to*/
    {
        opacity: 0;
        display: none;
    }
}

.lwin{
    width: 365px;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: -365px;
}

.show{
    animation: lwinShow 0.5s ease-in 0.5s 1 normal;
}

.remove{
    animation: lwinClose 0.5s ease-in 0.5s 1 normal;
}

#helloSign{
    height: 6%;
    width: 100%;
    background-color: #232F3E;
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
}

#link1{
    text-decoration: none;
}

#helloSign i{
    padding-left: 40px;
}

#helloSign p{
    margin-left: 15px;
    font-weight: bolder;
}

#lboxes{
    height: 94%;
    width: 100%;
    overflow-y: scroll;
    line-height: 40px;
}

#lboxes hr{
    opacity: 0.3;
    position: relative;
    top: 10px;
    width: 99%;
}

#lbox1 b{
    font-size: 18px;
}

#lbox1{
    margin-top: 20px;
}

#lbox1 pre{
    position: relative;
    left: 30px;
    width: 320px;
}

#lbox1 p{
    font-size: 14px;
}

#lbox1 p a{
    color: black;
    text-decoration: none;
    position: relative;
    left: 30px;
}

#lbox1 p:hover{
    background-color: #e9e9e9;
}

@keyframes lwinShow{
    0%/*from*/
    {
        left: -365px;
    }
    50%
    {

    }
    100%/*to*/
    {
        left: 0px;
    }
}

@keyframes lwinClose{
    0%/*from*/
    {
        left: 0px;
    }
    50%
    {

    }
    100%/*to*/
    {
        left: -365px;
    }
}

.cross{
    position: absolute;
    left: 370px;
    top: 10px;
    display: none;
}

.cross:hover{
    cursor: pointer;
}

.cross i{
    font-size: 30px;
}
